.cards-maps{
    box-sizing: border-box;
        border-radius: 3px;
        background: #FFFFFF;
        border: 0.3px solid #BBBBBB;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.13);
        border-radius: 6px;
        margin-top: 3%;
        margin-bottom: 1%;
<<<<<<< HEAD
}
=======
}
>>>>>>> f2024770a70793b5f5ec64ded646958124ec9164
