.artboard {
  width: 109%;
  max-width: 190%;
  height: 790px;
  margin-top: 50px;
}

.navbar {
  overflow: hidden;
  /* background: #000000; */
  position: fixed;
  top: 0;
  width: 100%;
}

p {
  align-items: center;
  color: white;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  padding-top: 10px;
}

.demo-button {
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-weight: 800;
  font-size: 1em;
  text-transform: uppercase;
  color: #fff;
  border-radius: border-rounded;

  padding: 1em 3em;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background-image: linear-gradient(
    to right,
    #895cf2 0%,
    #ffabf4 50%,
    #895cf2 100%
  );
  transition: 0.5s;
}

.front {
  color: #5721ab;
  padding-top: 150px;
  padding-bottom: 150px;
  text-align: center;
  font-size: 40px;
  margin-top: 100px;
}

.container22 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  height: 50%;
}

.ul-design {
  background-color: rgba(140, 145, 146, 0.09);
  margin: 30px;
  padding: 30px;
  border: 0px solid #000;
  border-radius: 30px;
}
.ul-design li {
  list-style: none;
  line-height: 30px;
}
.mybtn-delete {
  margin-left: 40px;
  font-size: 18px;
  background-color: red;
  color: #fff;
  border: 1px solid red;
}
.mybtn-blockchain {
  font-size: 18px;
  background-color: rgb(0, 126, 255);
  color: #fff;
  border: 1px solid rgb(0, 126, 255);
}
.btn-btn-design {
  padding: 10px;
  margin: 0px 0px 0px 0px;
}
.success-msg {
  float: right;
  position: relative;
  top: -20px;
}
.navbar.navbar-default {
  z-index: 10;
}
.logout-button {
  position: relative;
  left: 530px;
}
.row-design {
  width: 30%;
  margin: 215px auto;
}
